<!DOCTYPE html>
<html>
<head>
	<title>Spotify_Trends</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">
	
		<h1 style="color: black">CS 515 - 02 Social Media Data Science Pipeline</h1>
		<h2 style="color: black">Group : 4+1 Chan</h2>
		<h2 style="color: DodgerBlue">Spotify Trends</h2>

		<body bgcolor="lightgrey">

			<form action="/plottwitterartist26Nov" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<!-- <button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Input Dates</button><br><br> -->

		  		Date-1:<br> <input style="height:25px;font-size:14pt; color:grey;" type="text" name="date_1" ><br><br>

		  		Date-2:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="date_2" ><br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Generate Plots</button>

			</form>
			<form action="/plottwitterartist27Nov" autocomplete="on" method = "POST" enctype="multipart/form-data">
				Date-1:<br> <input style="height:25px;font-size:14pt; color:grey;" type="text" name="date_1" ><br><br>

		  		Date-2:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="date_2" ><br><br>

		  		<button type="submit" style="background: blue; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Generate Plots</button>
		  	</form>
<a href="/about">About Us</a>
		</body>

	</font>
</center>
</html>